# env 템플릿
# cp .env.example .env 로 항상 복사해서 사용할 것
# !!! 실제 값 들어간 상태로 형상관리 되지 않도록 주의할 것 !!!

# Spring 프로필
SPRING_PROFILE=dev
SERVER_PORT=8080

# Docker Compose PostgreSQL (컨테이너용)
# Docker 컨테이너로 실행할 경우
POSTGRES_DB=예시_데이터
POSTGRES_USER=예시_데이터
POSTGRES_PASSWORD=예시_데이터

# Spring Datasource (로컬 개발용)
# IDE에서 직접 실행할 경우
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/예시_데이터
SPRING_DATASOURCE_USERNAME=예시_데이터
SPRING_DATASOURCE_PASSWORD=예시_데이터

# RDS
# ECS 환경 변수로 주입 예정
RDS_ENDPOINT=예시_데이터
RDS_SPRING_DATASOURCE_URL=예시_데이터
RDS_SPRING_DATASOURCE_USERNAME=예시_데이터
RDS_SPRING_DATASOURCE_PASSWORD=예시_데이터

# AWS S3
AWS_S3_ACCESS_KEY=예시_데이터
AWS_S3_SECRET_KEY=예시_데이터
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=예시_데이터
AWS_S3_PRESIGNED_URL_EXPIRATION=600

# Storage
STORAGE_TYPE=local
STORAGE_LOCAL_ROOT_PATH=.deokhugam/storage
